* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 80%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', 'Luxi Sans', 'DejaVu Sans', Tahoma,
    'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
}

.reply-container {
  width: 100%;
}

.container a {
  text-decoration: none;
  color: white;
}

.article-container {
  padding: 0.25rem;
  background-color: #e2e2e2;
}

.cell {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  line-height: 200%;
  text-align: left;
  border-bottom: 0.15rem solid #e2e2e2;
  border-radius: 0.2rem;
  background-color: white;
}

.member {
  width: 40px;
  height: 40px;
}

.member img {
  border-radius: 0.5rem;
  height: 100%;
}

.title {
  width: 80%;
}

.link-label {
  text-decoration: none;
  color: #333;
}

.info {
  border-radius: 0.2rem;
  color: #caa;
  margin-right: 0.2rem;
}

.topic-container {
  padding: 0.25rem;
  background-color: #e2e2e2;
  display: flex;
  flex-direction: column;
}

.topic {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1rem;
  border-radius: 0.4rem;
  margin-bottom: 1rem;
}

.topic-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 0.8rem;
  margin-bottom: 0.8rem;
  line-height: 150%;
  border-bottom: 0.2rem solid #e2e2e2;
}

.left-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
}
.left-info span {
  color: #caa;
}

.right-avater {
  width: 20%;
}

.right-avater-img {
  margin: 0.2rem;
  border-radius: 0.4rem;
}

.reply-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  overflow: hidden;
  line-height: 190%;
  background-color: white;
  border-bottom: 0.2rem solid #e2e2e2;
  border-radius: 0.2rem;
}
.reply-avatar {
  width: 15%;
  padding: 1rem;
  margin-right: 20px;
}

.reply-content {
  width: 85%;
  padding: 0.4rem 1rem 0.4rem 0.1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.reply-content span,
.reply-content a {
  color: #caa;
}

.rendered-content {
  overflow: hidden;
}

.topic-container img,
.reply-container img {
  width: 100%;
}

.onloading {
  display: flex;
  flex-direction: column;
  height: 20rem;
  align-items: center;
  justify-content: center;
}

.onloading-circle {
  width: 2rem;
  height: 2rem;
  border: 0.1rem solid gray;
  border-radius: 50%;
  border-bottom-color: transparent;
  animation: 1s ease-in-out infinite loading;
}

@keyframes loading {
  from {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  to {
    transform: translate3d(0, 0, 0) rotate(360deg);
  }
}

.about-info {
  height: 100%;
  padding: 10px 15px;
  line-height: 1.5;
  background: #f7f7f7;
}

.about-info dt {
  color: #2c3e50;
  font-size: 16px;
  line-height: 1.5;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 5px 0;
  font-weight: bold;
}
.about-info dd {
  padding-bottom: 15px;
  font-size: 14px;
  border-bottom: 1px solid #d5dbdb;
}

.about-info a {
  color: #42b983;
}

.my-drawer {
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.my-drawer .am-drawer-sidebar {
  background-color: #fff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.my-drawer .am-drawer-sidebar .am-list {
  width: 150px;
  padding: 0;
}

.back-button {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 1000;
  color: #108ee9;
}

.nav-item {
  color: #000;
}
.nav-item a {
  color: #000;
}

.nav-item.active {
  background-color: #5fa9de;
  color: #fff;
}

.nav-item.active a {
  color: #fff;
}
